<img src="Logo.png" alt="Bank Logo" width="128" hight="128"



<!DOCTYPE html>

<!DOCTYPE html>

<html lang="en">

<head>

    <link rel="stylesheet" href="styles.css">

    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>

        N27

    </title>

   

</head>

<body bgcolor=pink>

 

</body>

<body>

 

    <h1>Herzlich Willkommen bei der N27 Bank</h1r>


    <p>

        <button type="button">Einzahlen</button>

    </p>

    <p>

        <button type="button">Auszahlen</button>

    </p>

    <p>

        <button type="button">Überweisung</button>

    </p>

    <p>

        <button type="button">Kontostand</button>

    </p>

</html>

 

<head>

    <title>Banking-form</title>

    <link rel="stylesheet" type="text/css" href="css/styles.css">

</head>

 

<body>

    <div id="wrapper">

        <header>

   

            






            <h1>Kreditantrag</h1>

        </header>

       

        <div id="name">

            <form action="demo_form.asp">

              Vorname: <input type="text" name="fname">
<p></p>
              Nachname: <input type="text" name="minitial">

             

            </form>

        </div>

<p></p>

        <div id="basicinfo">

            <form>

                Adresse: <input type="text" name="addresse" required>
<p></p>
                Hausnummer: <input type="text" name="hausnummer">
<p></p>
                PLZ: <input type="text" name="stadt" required>
<p></p>
                Stadt: <input type="text" name="plz" required>

                <p>

 

                <p>

 

                Arbeitgeber: <input type="text" name="employer">
<p></p>
                Arbeitgeber Adresse: <input type="text" name="eaddress">

               

            </form>

        </div>

 

        <div id="loaninfo">

            <div>

                <h2>Art des Kredits</h2>

                <select>

                  <option value="Commercial">Werbung</option>

                  <option value="Real estate">Immobilien u. Grundstücke</option>

                  <option value="Personal">Persönlich</option>

                  <option value="Mortgage">Hypothek</option>

                </select>

            </div>

 

            <h3>Betrag</h3><textarea></textarea>

 

            <div>

                <h3>Laufzeit</h3>

                <form>

                  <input type="radio" name="loanlength" value="5 Jahre" checked> 5 Jahre<br>

                  <input type="radio" name="loanlength" value="15 Jahre"> 15 Jahre<br>

                  <input type="radio" name="loanlength" value="30 Jahre"> 30 Jahre

                </form>

            </div>

        </div>

 

        <h3>weitere Angaben</h3>

     

        <form action="demo_form.asp">

          <input type="checkbox" name="Special Conditions" value="Anzahlung"> Anzahlung<br>

          <input type="checkbox" name="Special Conditions" value="Verheiratet" checked> Verheiratet<br>

          <input type="checkbox" name="Special Conditions" value="co-signed" checked> Kinder >2 <br>

        </form>

 

        <div id="comments">

            <h3>zusätzliche Angaben</h3>

            <textarea style="width:60%"></textarea>

        </div>

 
<p></p>
        <form>

            Email: <input type="email" name="email">
<p></p>
            Telefonnummer: <input type="tel" name="telefon">

           

            <p><button type="button">Abschicken ❤️</button>

        </form>

        <footer>Impressum</footer>

        <footer> &copy;N27 Bank</footer>

    </div>

</body>



<!DOCTYPE html>
<html>
  <head>
    <title>Sparkasse</title>
  </head>
  <body>
    <a href="https://www.sparkasse.de" target="_blank">Sparkasse</a>
  </body>
</html>






<hr>

<footer>Impressum</footer>

        <footer> &copy;N27 Bank</footer>

<table border="1">
    <tr>
        <td>Zeile 1 Spalte 1</td>
        <td>Zeile 1 Spalte 2</td>
    </tr>
    <tr>
        <td>Zeile 2 Spalte 1</td>
        <td>Zeile 2 Spalte 2</td>
    </tr>
</table>

<ul>
    <li>Listenelement 1</li>
    <li>Listenelement 2</li>
</ul>

<ol>
    <li>Listenelemet 1</li>
    <li>Listenelemet 2</li>
</ol>
