/*Leon Tomic*/
body {
    font-family:'Courier New', Courier, monospace;
    font-size: x-small;
    color: greenyellow;   
}


header {
font-size:large;

}

button {
    color: hotpink;
    background-color: khaki;
border-radius: 10%;
}

a {
    color: green;
    font-family: Arial, Helvetica, sans-serif;
}












table {
    background-color: lavender;
}