<!--Leon Tomic-->
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Klausur02</title>
</head>
<header>Klausur Nr.2</header>
<p>
    <header>Vorbereitung</header>
<body>Hier könnte ihr Text stehen</body>
<p>

<button>Klick mich</button>
<p></p>

<a href="https://berufskolleg-borken.de" target="_blank">Hier geht es zum BKB</a>
<table>
    <border></border>
</table>